!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Log in</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="header"></div>

<div class="from-meta">
    <form class="form-signin" method="POST" action="/api/auth/signin">
        <p>Login: <input type="text" class="login" name="login"> </p>
        <p>Email: <input type="text" class="login" name="email"> </p>
        <p>Password: <input type="text" class="password" name="password"> </p>

        <button type="submit" class="loginbtn">Log in</button>
        <p>Already have an account?</p>
        <a href="login">Log in</a>
    </form>
</div>
</body>
</html>